<div class="directions">
  <div class="inner-container">
    <p>
      For those of you flying in from out of town, thanks for making the trek and we hope you enjoy your time in Minnesota! Check out our <span class="content-link"><%= link_to "recommendations", recommendations_path %></span> for some things to do while you're in town if you have some time to explore.
    <br />
    <br />
      We have a hotel block at the <span class="content-link"><%= link_to "Westin", accommodations_path %></span> in downtown Minneapolis for your relaxing pleasure. In order to simplify your travel, we'd recommend you take the light rail from the airport to the hotel and consider skipping a car rental. If you do have a car with you, there is valet parking at the hotel and multiple cheaper self-park lots within a block or two of the hotel.
    <br />  
    <br />
      All you need to know in terms of directions for the big day:
    <br />
    <br />
      For drivers: <br />
      Take I-94 to Snelling Ave and go south on Snelling.  <br />
      Turn right onto Grand Ave.  <br />
      Turn Left onto S Macalester St.  <br />
      In a couple of blocks, the parking lot will be on your left.  <br />
    <br />
    <br />
      For riders:  <br />
      We'll be providing transportation on good old fashioned yellow school buses from the hotel to the wedding and then back again. 
    </p>
    <br />
    <div class="map">
      <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msid=202102478433825847942.0004ef3c5e87dd3b58e83&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;ll=44.939749,-93.168933&amp;spn=0.004352,0.008776&amp;output=embed"></iframe>
      <br />
      <div class="link"><a href="https://maps.google.com/maps/ms?msid=202102478433825847942.0004ef3c5e87dd3b58e83&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;ll=44.939749,-93.168933&amp;spn=0.004352,0.008776&amp;source=embed">View in a larger map</a>
      </div>
    </div>
  </div>
</div>