<div class="accounts-rsvp">
  <div class="content-link content-link-margin"><%= link_to "Guests", admin_guests_path %></div>
  <h2>Accounts</h2>
  <ol>
    <% @accounts.each do |account| %> 
      <li>
        <div class="saved-guest-wrapper">
          <p><%= account.email %></p>
          <ul>
            <% account.guests.each do |guest| %> 
              <li>
                <div class="saved-guest-wrapper">
                  <%= render partial: 'admin/shared/guest', locals: { guest: guest, guest_number: nil } %>
                </div>
              </li>
            <% end %>   
          </ul>
        </div>
      </li>
    <% end %>   
  </ol>
</div>