<h1>Activities</h1>
<br />
<div class="content-block">
  <p>
    <span class="content-link"><a href="http://travel.usnews.com/Minneapolis_MN/Things_To_Do/" target="_blank">Here</a></span> are some things the interwebs recommend you try. The following are what we think are the highlights:
    <br />
    <br />
  </p>
</div>
<div class="content-block">
  <h2>Walking around the lakes:</h2>
  <div class="info-image-embed"><%= image_tag("lake_calhoun.jpg", alt: "Lake Calhoun") %></div> 
  <p>
     Lake Calhoun is the most popular and has a restaurant and various small vessel rentals available. Lake of the Isles is a little quieter and beautiful. To get there, hop on the 17 bus Westbound from the corner of 5th and Nicollet Mall. Jump off about 25 minutes later on the corner of Lagoon Av & Knox Av S. At that point Lake of the Isles is just north and Lake Calhoun is just South, so hop on a trail and get walking!
    <br />
    <br />
  </p>
</div>
<div class="content-block">
  <h2>Walker Art Center and the Sculpture Garden:</h2>
  <div class="info-image-embed"><%= image_tag("ffp_spoonbridge.jpg", alt: "Spoonbridge") %></div>     
  <p>  
    Here you'll find the Spoonbridge and Cherry, which is the iconic symbol of the city of Minneapolis (translation: Photo Op!). There are also tons of other sculptures to check out, include a big fish by Frank Gehry. The free outdoor sculpture garden is worth the trip, but head inside for one of the top five modern art experiences you can have in the country. To get there, take a little walk headed southwest on Nicollet and turn right on W Grant St. Keep a straight course through Loring park and over the freeway on a pedestrian bridge. 
    <br />
    <br />
  </p>
</div>
<div class="content-block">
  <h2>Mall of America</h2>
  <div class="info-image-embed"><%= image_tag("moa_amusement_park.jpg", alt: "Mall of America amusement park") %></div> 
  <p>      
    Well, it isn't for everyone and we wouldn't recommend spending a nice sunny day inside at a mall, but it is the biggest mall in the country... and let's face it, what else have you heard of in Minnesota? Along with all the obligatory shopping experiences you'd expect, there is also an amusement park in the middle of the mall, an aquarium in the basement, and a movie theater on the top floor. To get there, hop on the light rail and ride it a little bit past the airport. 
    <br />
  </p>
</div>
<br clear="both" /> 
<br />

<div class="content-block">
  <h2>More things coming soon!</h2>
  <p><span class="editors-note">This isn't the greatest list of things to do in the Twin Cities, this is just a tribute.</span></p>
</div>
<br clear="both" /> 
<br />

