<h2>Activities</h2>
<p>Like doing stuff? Us too! Check out a very abridged list of stuff to do in the Cities <span class="content-link"><%= link_to "here", activities_recommendations_path %></span>.
</p>

<h2>Beer</h2>
<p>
  You may or may not be aware that the Twin Cities are crazy about craft beer. Don Undis, father of the bride, tells you everthing you need to know right <span class="content-link"><%= link_to "here", beer_recommendations_path %></span>.
  <br />
</p>

<h2>Food</h2>
<p>
  Staying right in the middle of downtown means you're surrounded by tons of restaurant options. You'll be able to find anything you want within walking distance, so have fun with it. <span class="content-link"><%= link_to "Here", food_recommendations_path %></span> are few recommendations.
</p>

