<div class="accommodations">
  <div class="inner-container">    
    <h1>Hotel Accomodations</h1>
    <div class="info-image"><%= image_tag("hotel.jpg", alt: "Hotel photo") %></div>
    <p>
      We have a room block at the Westin in downtown Minneapolis for $128 per night for either a king bed or two double beds. Suites are also available for $229. Click <span class="content-link"><a href="https://www.starwoodmeeting.com/Book/UndisYenchoWedding" target="_blank">here</a></span> to check it out and make a reservation or call 1-888-627-8343 and ask for the Undis-Yencho wedding room block.  
      <br />
      <br />
      Please note that rooms need to be booked before April 29th!
      <br />
      <br />
      Helpful hint: If you're traveling with children, you might want to be aware that rooms with king beds have glass-walled walk-in showers and rooms with double beds have the traditional combined shower/baths.
    </p>
  </div>
</div>