<div class="contact-us">
  <h1>Contact Us</h1>
  <br />
  <table>
    <tr>
      <td>Sandra</td>
      <td><div class="content-link"><%= mail_to "sundis@gmail.com", "sundis@gmail.com", subject: "Wedding Website Questions / Concerns" %></div></td>
    </tr>
    <tr>
      <td>Brian</td>
      <td><div class="content-link"><%= mail_to "byencho@gmail.com", "byencho@gmail.com", subject: "Wedding Website Questions / Concerns", body: "First off, the website is great. Also : " %><div></td>
    </tr>  
  </table>
  <br />
  <p>(If you have questions or concerns, you should probably write to Sandra...just sayin' is all.)</p>
</div>