<div class="schedule">
  <h1>Schedule!</h1>
  <br />
  <p>
    So here it is. Please note that this is tentative and subject to change. But for the time being this should give you a sense for how things are going down. <span class="hotel italic">Note that items in green are very important to people staying that the hotel and generally involve information about transportation</span>.
  </p>
  <br />
  <h2>Thursday</h2>
  <table>
    <tr>
      <td>6:30pm</td> 
      <td>We'll be hanging out at downtown at <span class="content-link"><%= link_to "The PourHouse", "http://thepourhousempls.com/", target: "_blank" %></span> for anyone who's in town early and wants to hang out!</td>
    </tr>
  </table>
  <br />
  <h2>Friday</h2>
  <p>If you're not in the wedding party you are free to do whatever you'd like! Check out our <span class="content-link"><%= link_to "recommendations", recommendations_path %></span> for some stuff to do.</p>
  <br />
  <h2>Saturday</h2>
  <table>
    <tr class="hotel">
      <td>3:00pm</td>
      <td>Shuttle arrives at hotel.</td>
    </tr>
    <tr class="hotel">
      <td>3:20pm</td>
      <td>Shuttle leaves hotel. Please don't miss the shuttle.</td>
    </tr>
    <tr class="hotel">
      <td>3:40pm</td>
      <td>Shuttle arrives at Macalester.</td>
    </tr>
    <tr>
      <td>4:00pm</td>
      <td>Ceremony starts promptly. Pro-tip: show up on time. Sandra and Brian's wedding waits for no man!</td>
    </tr>
    <tr class="hotel">
      <td>4:00pm</td>
      <td>Shuttle arrives at hotel again to pick up stagglers who have clearly missed the ceremony at this point (boo!). If you straggle more than this you're going to have to cab it. Seriously, just take the first shuttle.</td>
    </tr>
    <tr>
      <td>4:25pm</td>
      <td>Everybody's in a photo at the chapel. Be there!</td>
    </tr>
    <tr class="hotel">
      <td>4:30pm</td>
      <td>Hotel stragglers arrive and are appropriately shunned.</td>
    </tr>
    <tr>
      <td>4:30pm</td>
      <td>Reception starts! Cocktail hour, followed by "Stations Dinner," followed by cake and dancing!</td>
    </tr>
    <tr class="hotel">
      <td>9:00pm</td>
      <td>First shuttle leaves for people who need to leave early.</td>
    </tr>
    <tr class="hotel">
      <td>10:00pm</td>
      <td>Second shuttle leaves just because.</td>
    </tr>
    <tr>
      <td>11:00pm</td>
      <td>Reception ends :(</td>
    </tr>
    <tr class="hotel">
      <td>11:00pm</td>
      <td>Main shuttle leaves. If you made it this far, you should probably take this shuttle.</td>
    </tr>
    <tr>
      <td>11:30pm</td>
      <td>Afterparty at a bar downtime (The Pourhouse). Will Sandra be able to make it this far into the evening? I've got 5 bucks on no, but prove me wrong!</td>
    </tr>
    <tr class="hotel">
      <td>11:45pm</td>
      <td>Final shuttle leaves. This is the shuttle of last resort for anyone who is still at the venue for any reason. Which should be nobody, but knows with people these days.</td>
    </tr>
  </table>
  <br />
  <h2>Sunday</h2>
  <table>
    <tr>
      <td> 9:30am -<br/> 10:30am</td>
      <td>We're hosting breakfast at <span class="content-link"><%= link_to "Bruegger's Bagel", "https://www.google.com/maps/place/Bruegger's+Bagel/@44.977453,-93.271005,17z/data=!3m1!4b1!4m2!3m1!1s0x0:0x7370e18c0ac95a6c", target: "_blank" %></span> across the street from the hotel. Stop in if you can and say goodbye before you head out!</td>
    </tr>
  </table>
</div>