<div class="schedule">
  <h1>Schedule!</h1>
  <br />
  <p>
    So here it is. Please note that this is tentative and subject to change. But for the time being this should give you a sense for how things are going down. <span class="hotel italic">Note that items in green are very important to people staying that the hotel and generally involve information about transportation</span>.
  </p>
  <br />
  <table>
    <tr class="hotel">
      <td>3:00pm</td>
      <td>Shuttle arrives at hotel.</td>
    </tr>
    <tr class="hotel">
      <td>3:20pm</td>
      <td>Shuttle leaves hotel. Please don't miss the shuttle.</td>
    </tr>
    <tr class="hotel">
      <td>3:40pm</td>
      <td>Shuttle arrives at Macalester.</td>
    </tr>
    <tr>
      <td>4:00pm</td>
      <td>Ceremony starts promptly. Pro-tip: show up on time. Sandra's wedding waits for no man!</td>
    </tr>
    <tr class="hotel">
      <td>4:00pm</td>
      <td>Shuttle arrives at hotel again to pick up stagglers who have clearly missed the ceremony at this point (boo!). If you straggle more than this you're going to have to cab it. Seriously, just take the first shuttle.</td>
    </tr>
    <tr>
      <td>4:25pm</td>
      <td>Everybody's in a photo at the chapel. Be there!</td>
    </tr>
    <tr>
      <td>4:30pm</td>
      <td>Cocktail hour starts!</td>
    </tr>
    <tr class="hotel">
      <td>4:30pm</td>
      <td>Hotel stragglers arrive and are appropriately shunned.</td>
    </tr>
    <tr>
      <td>6:00pm</td>
      <td>"Stations dinner" begins! This means the food is put out and you can go at it whenever you please. Brian will be first in line.</td>
    </tr>
    <tr>
      <td>8:00pm</td>
      <td>"Stations dinner" ends :(</td>
    </tr>
    <tr>
      <td>8:20pm</td>
      <td>Cake cutting. The cake is made of ice cream. Just thought you might like to know that.</td>
    </tr>
    <tr>
      <td>8:10pm</td>
      <td>Everyone sits and eats cake. "But Brian", you say, "how can we eat cake if it hasn't been cut until 8:20?" Well I don't know, this is just the schedule I've been given to work with. So let's all just smile, nod, and move to the next item.</td>
    </tr>
    <tr>
      <td>8:30pm</td>
      <td>Sandra and Brian's first dance</td>
    </tr>
    <tr>
      <td>8:35pm</td>
      <td>Family dancing</td>
    </tr>
    <tr>
      <td>9:00pm</td>
      <td><span class="italic">Real</span> dancing</td>
    </tr>
    <tr class="hotel">
      <td>9:00pm</td>
      <td>First shuttle leaves to take back all the young parents and old people.</td>
    </tr>
    <tr class="hotel">
      <td>10:00pm</td>
      <td>Second shuttle leaves to take back all the people who got too drunk and can't stick it out one more hour.</td>
    </tr>
    <tr>
      <td>11:00pm</td>
      <td>Reception ends :(</td>
    </tr>
    <tr class="hotel">
      <td>11:00pm</td>
      <td>Main shuttle leaves. If you made it this far, you should probably take this shuttle.</td>
    </tr>
    <tr class="hotel">
      <td>11:30pm</td>
      <td>Afterparty at a bar downtime (The Pourhouse). Will Sandra be able to make it this far into the evening? I've got 5 bucks on no, but prove me wrong!</td>
    </tr>
    <tr class="hotel">
      <td>11:45pm</td>
      <td>Final shuttle leaves. Hopefully nobody needs to be on this shuttle. This is the shuttle of last resort in case someone missed the previous shuttle or there wasn't enough room.</td>
    </tr>
  </table>
</div>