<div class="sign-in-container-wrapper">
  <p class="warning">STOP!</p>
  <br />
  <p class="warning">
    It's too late to sign up! You missed it! If this is a problem for some reason you can write Sandra at <span class="content-link"><%= mail_to "sundis@gmail.com", "sundis@gmail.com", subject: "Late RSVP changes" %></span>.</p>
  <br />
  <div class="sign-in-container">
    <br />
    <%= render "accounts/shared/links" %>
    <div class="content-link content-link-margin"><%= link_to "Having Trouble?", accounts_trouble_path %></div>
    <div class="content-link content-link-margin"><%= link_to "Go Home", home_path %></div>
  </div>
</div>