<div class="coming-soon" data-type="background" data-speed="20">  
  <div class="layer-2" data-type="background" data-speed="10"></div>  
  <div class="layer-3" data-type="background" data-speed="5"></div>
  <div class="header">
    <div class="title"></div>
    <p>Coming soon!</p>
  </div> 
</div>