<div class="inner-container">
  <h1>Hey everybody!</h1>
  <div class="info-image"><%= image_tag("engagement_spoon.jpg", alt: "Engagement spoon") %></div>
  <br />
  <p>Welcome to our wedding website! This is an ongoing work-in-progress, so we apologize if it is not yet up to your high Internet-ing standards. Feel free to find hotel information and directions and soon enough you'll be able to RSVP here too!</p>
</div>