<h1>Hey everybody!</h1>
<div class="info-image"><%= image_tag("engagement_spoon.jpg", alt: "Engagement spoon") %></div>
<br />
<p>
  Welcome to our wedding website! This is an ongoing work-in-progress, so we apologize if it is not yet up to your high Internet-ing standards.
</p>
<br />
<p>
  Make sure to <span class="content-link"><%= link_to "RSVP", rsvp_path %></span> if you haven't done so yet! Otherwise have fun checking out the site!
</p>