<h1>Hey everybody!</h1>
<div class="info-image"><%= image_tag("engagement_spoon.jpg", alt: "Engagement spoon") %></div>
<br />
<p>
  Alright this thing is on! Make sure to check out the <span class="content-link"><%= link_to "schedule", schedule_path %></span> for all your scheduling needs.
</p>
