<div class="home" data-type="background" data-speed="20">  
  <div class="layer-2" data-type="background" data-speed="10"></div>  
  <div class="layer-3" data-type="background" data-speed="5"></div>
  <div class="nav-bar"></div>
  <div class="inner-content">
    <div class="inner-container">    
      <p>This is just some practice text.</p>
    </div>
  </div>
</div>