<div class="home">
  <div class="blur"></div>
  <div class="header">
    <p class="title">Sandra and Brian</p>
    <p class="details">May 31st, 2013 * Minneapolis - St. Paul</p>  
    <a href="#" class="nav-button">Ham!</a>
    <hr>
  </div>
  <div class="main-content">
    <div class="nav-bar outline-box">
      <a href="http://www.w3schools.com">Sample link 1</a>
      <a href="http://www.w3schools.com">Sample link 2</a>
      <a href="http://www.w3schools.com">Sample link 3</a>
      <a href="http://www.w3schools.com">Sample link 4</a>            
    </div>
    <div class="inner-content">
      <div class="inner-container">    
        <p>This is just some practice text.</p>
      </div>
    </div>
  </div>
</div>
