<div class="accounts-rsvp">
  <h2>Having trouble?</h2>
  <br />
  <p>
    Software's hard and sometimes things don't work right. If you're having trouble, just email Brian (<span class="content-link"><%= mail_to "byencho@gmail.com", "byencho@gmail.com", subject: "Wedding Website Trouble" %></span>) and we'll fix the problem. 
  </p>
  <br />
  <div class="content-link content-link-margin"><%= link_to "Go Back", accounts_root_path %></div>
</div>