.home .header {
  padding: 10px 0px 0px 0px;
  position: fixed;
  //height: 100px;
  width: 100%;
  //background-color: rgba(255,255,255, 0.10);
  background-color: rgba(25,25,75,0.80);  
  display: block;
  //float:left;
  z-index:1000;
  //background-clip: content-box;
  //opacity: 0.4;  
}

.home .header .nav-button {
  display: none;
  visibility: hidden;
}

.home .header p {
  position: relative;
  display: block;  

  text-decoration: none;
  text-align: center;
  font-size: 15pt;

  color: rgba(255,255,255,0.9);
}

.home .header .title {
  padding: 30px 0 10px 0;
  font-size: 35pt;
  font-weight: bold;
}

.home .header .details {
  padding: 10px 0 30px 0;
}


.home hr {
  //padding: 10px 0 10px 0;
  //width: 95%;
  height: 0px;
  //padding: 0px;
}

.home .main-content {
  padding-top: 200px;
  //display: block;
}

.home .nav-bar {
  position: relative;
  float: left;
  //position: absolute;
  
  position: fixed;

  //width: 200px;
  //width: 22.5%;
  //left: 2.5%;  
  width: 200px;
  margin-left: 10px;
  //left: 10px;
  //left: 30px;
  min-height: 300px;
}

.home .nav-bar a {
  position: relative;
  margin: 10px auto 10px auto;
  display: block;

  text-decoration: none;
  text-align: center;
  font-size: 15pt;
  color: rgba(255,255,255,0.9);
  transition: color .50s ease-in-out;
  -ms-transition: color .50s ease-in-out;
  -moz-transition: color .50s ease-in-out;
  -webkit-transition: color .50s ease-in-out;  
}

.home .nav-bar a:hover {
  color: #4080F7;
  transition: color .50s ease-in-out;
  -ms-transition: color .50s ease-in-out;
  -moz-transition: color .50s ease-in-out;
  -webkit-transition: color .50s ease-in-out;  
}

.home .inner-content {
  //position: absolute;
  position: relative;
  padding: 0 0 0 0px;

  margin-left: 10px;

  //display: block;
  //float: left;

  //margin: 0 auto;
  //width: 100%;
  //margin: 0 5% 0 5%;
  width: 70%;
  //width: auto;
  float:left;
  //width: auto;
  //left: 250px;
  left: 25%;
}

.home .inner-content .inner-container {
  position: relative;
  //display: block;
  margin: 0 auto;
  //width: 300px;
  width: 100%;
  height: 300px;

}

.home .inner-content .inner-container p {
  text-align: center;
  font-size: 30pt;
  color: rgba(255,255,255,0.9);
  height: 80%;
  width: 80%;
  margin: 0 auto;
}



