// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Reset                        */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* reset.css */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin:0;
  padding:0;
  border:0;
  outline: 0;
  background: transparent;
  vertical-align:baseline;
  font-size:100%;
  font-weight:inherit;
  font-style:inherit;
  font-family:inherit;
  }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  }
body {
  line-height: 1;
  }
ol, ul {
  list-style: none;
  }
blockquote, q {
  quotes: none;
  }
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
  }
table {
  border-collapse: collapse;
  border-spacing: 0;
  }


.home { 
  background: url("bg_layer_1_a.png") 50% 0 repeat fixed; min-height: 2000px;
  height: 1000px; 
  margin: 0 auto; 
  width: 100%;
  position: relative;
}

.home .layer-2 {
  background: url("bg_layer_2.png") 50% 0 repeat fixed; min-height: 2000px;
  margin: 0 auto; 
  width: 100%;
  position: absolute;
  top: 0px;
  width: 100%;
}

.home .layer-3 {
  background: url("bg_layer_3.png") 50% 0 repeat fixed; min-height: 2000px;
  margin: 0 auto; 
  width: 100%;
  position: absolute;
  top: 0px;
  width: 100%;
}

.home .inner-content {
  position: absolute;
  top: 0px;
  width: 100%;
  padding-top: 200px; // Temporary
}

.home .nav-bar {
  position: fixed;
  //position: absolute;
  height: 350px;
  width: 200px;
  top: 200px;
  left: 30px;
  border-radius: 20px;
  background-color: rgb(255,255,255);
  background-color: rgba(255,255,255, 0.1);
  box-shadow: 0px 30px 40px rgba(0,0,0,.1);
}

.home .inner-content .inner-container {
  position: relative;
  margin: 0 auto;
  min-height: 1em;
  width: 300px;
  border-radius: 20px;
  padding: 5px;
  background-color: rgb(255,255,255);
  background-color: rgba(255,255,255, 0.1);
  box-shadow: 0px 30px 40px rgba(0,0,0,.1);
}

.home .inner-content .inner-container p {
  text-align: center;
  font-size: 30pt;
  color: rgba(255,255,255,0.9);
  height: 80%;
  width: 80%;
  margin: 0 auto;
  transition: color .50s ease-in-out;
  -ms-transition: color .50s ease-in-out;
  -moz-transition: color .50s ease-in-out;
  -webkit-transition: color .50s ease-in-out;
}

.home .inner-content .inner-container p:hover {  
  color: #4080F7;
  transition: color .50s ease-in-out;
  -ms-transition: color .50s ease-in-out;
  -moz-transition: color .50s ease-in-out;
  -webkit-transition: color .50s ease-in-out;
}


