// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Reset                        */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* reset.css */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin:0;
  padding:0;
  border:0;
  outline: 0;
  background: transparent;
  vertical-align:baseline;
  font-size:100%;
  font-weight:inherit;
  font-style:inherit;
  font-family:inherit;
  }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  }
body {
  line-height: 1;
  }
ol, ul {
  list-style: none;
  }
blockquote, q {
  quotes: none;
  }
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
  }
table {
  border-collapse: collapse;
  border-spacing: 0;
  }

//=========================================//
// Scrolling Background //

.main {
  background: url("bg_layer_1_a.png") 50% 0 repeat fixed; min-height: 2000px;
  height: 1000px; 
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.main .layer-2 {
  background: url("bg_layer_2.png") 50% 0 repeat fixed; min-height: 2000px;
  margin: 0 auto; 
  width: 100%;
  position: absolute;
  top: 0px;
  width: 100%;
}

.main .layer-3 {
  background: url("bg_layer_3.png") 50% 0 repeat fixed; min-height: 2000px;
  margin: 0 auto; 
  width: 100%;
  position: absolute;
  top: 0px;
  width: 100%;
}

.outline-box {
  border: 1px solid rgba(255, 255, 255, .75);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */  

  // http://css-tricks.com/snippets/css/css-box-shadow/
  -moz-box-shadow:    0px 0px 3px 1px #ccc;
  -webkit-box-shadow: 0px 0px 3px 1px #ccc;
  box-shadow:         0px 0px 3px 1px #ccc;    

  background-color: rgba(255,255,255, 0.05);
}

//=========================================//
// Header and navigation //

.main .header {
  padding: 10px 0px 0px 0px;
  position: fixed;
  //height: 100px;
  width: 100%;
  //background-color: rgba(255,255,255, 0.10);
  background-color: rgba(25,25,75,0.80);  
  display: block;
  //float:left;
  z-index:1000;
  //background-clip: content-box;
  //opacity: 0.4;  
}

.main .header .nav-button {
  display: none;
  visibility: hidden;
}

.main .header p {
  position: relative;
  display: block;  

  text-decoration: none;
  text-align: center;
  font-size: 15pt;

  color: rgba(255,255,255,0.9);
}

.main .header .title {
  padding: 30px 0 10px 0;
  font-size: 35pt;
  font-weight: bold;
}

.main .header .details {
  padding: 10px 0 30px 0;
}


.main hr {
  //padding: 10px 0 10px 0;
  //width: 95%;
  height: 0px;
  //padding: 0px;
}

.main .main-content {
  padding-top: 200px;
  //display: block;
}

.main .nav-bar {
  position: relative;
  float: left;
  //position: absolute;
  
  position: fixed;

  //width: 200px;
  //width: 22.5%;
  //left: 2.5%;  
  width: 200px;
  margin-left: 10px;
  //left: 10px;
  //left: 30px;
  min-height: 300px;
}

.main .nav-bar a {
  position: relative;
  margin: 10px auto 10px auto;
  display: block;

  text-decoration: none;
  text-align: center;
  font-size: 15pt;
  color: rgba(255,255,255,0.9);
  transition: color .50s ease-in-out;
  -ms-transition: color .50s ease-in-out;
  -moz-transition: color .50s ease-in-out;
  -webkit-transition: color .50s ease-in-out;  
}

.main .nav-bar a:hover {
  color: #4080F7;
  transition: color .50s ease-in-out;
  -ms-transition: color .50s ease-in-out;
  -moz-transition: color .50s ease-in-out;
  -webkit-transition: color .50s ease-in-out;  
}


//=========================================//
// Main content formatting //

.main .inner-content {
  //position: absolute;
  position: relative;
  padding: 0 0 0 0px;

  margin-left: 10px;

  //display: block;
  //float: left;

  //margin: 0 auto;
  //width: 100%;
  //margin: 0 5% 0 5%;
  width: 70%;
  //width: auto;
  float:left;
  //width: auto;
  //left: 250px;
  left: 25%;
}

.main .inner-container {
  position: relative;
  //display: block;
  margin: 0 auto;
  //width: 300px;
  width: 100%;
  height: 300px;

}

.main .inner-container p {
  text-align: center;
  font-size: 30pt;
  color: rgba(255,255,255,0.9);
  height: 80%;
  width: 80%;
  margin: 0 auto;
}

//=========================================//
// Responsive changes //

@media screen and (max-width : 900px) {
  /* Styles */
  .nav-bar {
    display: none;
    width: 0;
    position: relative;
    visibility: hidden;
  }

  .main .inner-content {
    width: 100%;
    margin: 0 auto;
    margin-left: 0;
    left: 0;
  }

  .main .header .title {
    padding: 5px 0 5px 0;
    font-size: 25pt;
  }

  .main .header .details {
    padding: 5px 0 5px 0;
    font-size: 10pt;
  }

  .main .header .nav-button {
    //position: fixed;
    //top: 30px;
    //left: 10px;
    position: absolute;
    top: 30px;
    left: 10px;
    display: block;
    //float: left;
    visibility: visible;
    height: 10px;
    width: 10px;
    color: #ffffff;    
  }
}

@media screen and (max-width : 450px) {
  .main .header .title {
    padding: 5px 0 5px 0;
    font-size: 20pt;
  }

  .main .header .details {
    padding: 5px 0 5px 0;
    font-size: 8pt;
  }
}
