// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Reset                        */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* reset.css */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin:0;
  padding:0;
  border:0;
  outline: 0;
  background: transparent;
  vertical-align:baseline;
  font-size:100%;
  font-weight:inherit;
  font-style:inherit;
  font-family:inherit;
  }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  }
body {
  line-height: 1;
  }
ol, ul {
  list-style: none;
  }
blockquote, q {
  quotes: none;
  }
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
  }
table {
  border-collapse: collapse;
  border-spacing: 0;
  }

//=========================================//
// "Footer" //

/*
.space-dinosaur {
  clear: both;
  //margin: 0 auto;
  //width: 100%;
  position: relative;
  display: block;
  //margin: 0 auto;
  //background: #ffffff;
  //bottom: 0px;
  height: 50px;
  z-index: 1001;
}
*/

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.space-dinosaur img {
  clear: both;
  position: relative;
  display: block;
  margin: 20px auto;
  height: 50px;
  float: none;
  //width: 100px;
}

.space-dinosaur img:hover {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 750ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 750ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 750ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -o-transition: rotate(3600deg);
}

//=========================================//
// Scrolling Background //


body {
  font-family: Arial, Helvetica, sans-serif;
  background: #000000;
}

.main {
  display: block;
  min-height: 2000px;
}

.main .layer-1 {
  background: url("bg_layer_1_a.png") 50% 0 repeat fixed;
  min-height: 2000px;
  margin: 0 auto;
  width: 100%;
  position: fixed;
}

.main .layer-2 {
  background: url("bg_layer_2.png") 50% 0 repeat fixed;
  min-height: 2000px;
  margin: 0 auto; 
  width: 100%;
  position: fixed;
  top: 0px;
}

.main .layer-3 {
  background: url("bg_layer_3.png") 50% 0 repeat fixed;
  min-height: 2000px;
  margin: 0 auto; 
  width: 100%;
  position: fixed;
  top: 0px;
}

.outline-box {
  border: 1px solid rgba(255, 255, 255, .75);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */  

  // http://css-tricks.com/snippets/css/css-box-shadow/
  -moz-box-shadow:    0px 0px 3px 1px #ccc;
  -webkit-box-shadow: 0px 0px 3px 1px #ccc;
  box-shadow:         0px 0px 3px 1px #ccc;    

  background-color: rgba(255,255,255, 0.05);
}

//=========================================//
// Header and navigation //

.main .header {
  padding: 10px 0px 0px 0px;
  position: fixed;
  //height: 100px;
  width: 100%;
  //background-color: rgba(255,255,255, 0.10);
  background-color: rgba(25,25,75,0.80);  
  display: block;
  //float:left;
  z-index:1000;
  //background-clip: content-box;
  //opacity: 0.4;  
}

.main .header .nav-button {
  display: none;
  visibility: hidden;
}

.main .header .nav-button img {
  // This is currently the size of the image
  width: 27px;
}

.main .header p {
  position: relative;
  display: block;  

  text-decoration: none;
  text-align: center;
  font-size: 15pt;

  color: rgba(255,255,255,0.9);
}

.main .header .title {
  padding: 30px 0 10px 0;
  font-size: 35pt;
  font-weight: bold;

  // TESTING
  height: 50px;
  font-size: 0pt;
  background-image: url("header_santa_fe.png");
  background-size: auto 50px;
  background-repeat: no-repeat;
  background-position: center;
}

.main .header .details {
  padding: 10px 0 30px 0;
  text-transform: lowercase;
}


.main hr {
  //padding: 10px 0 10px 0;
  //width: 95%;
  height: 0px;
  //padding: 0px;
}


//=========================================//
// Dropdown Navigation

.main .dropdown-nav {
  display: none;
  visibility: hidden;
  background-color: rgba(25,25,75,0.80);
}

/* For fade-in animation */
@-webkit-keyframes fadeIn { from { opacity:0;} to { opacity:1;} }
@-moz-keyframes fadeIn { from { opacity:0;} to { opacity:1;} }
@keyframes fadeIn { from { opacity:0;} to { opacity:1;} }

.main .dropdown-nav.active {
  // See here : http://graphicfusiondesign.com/blog/design/creating-fancy-css3-fade-in-animations-on-page-load

  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;
  
  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
  
  -webkit-animation-duration:0.25s;
  -moz-animation-duration:0.25s;
}

.main .dropdown-nav.inactive {
}

.main .dropdown-nav ul {
  position: relative;
  display: block;
  margin: 10px 10px 10px 10px;
}

.main .dropdown-nav ul li {
  text-transform:lowercase;
  margin: 10px 0 10px 0;
}

.main .dropdown-nav a {
  text-decoration: none;
  text-align: center;
  font-size: 15pt;
  color: rgba(255,255,255,0.9);
  //color: #4080F7;  

  transition: color .25s ease-in-out;
  -ms-transition: color .25s ease-in-out;
  -moz-transition: color .25s ease-in-out;
  -webkit-transition: color .25s ease-in-out;  
}

.main .dropdown-nav a:hover {
  color: #4080F7;
  transition: color .25s ease-in-out;
  -ms-transition: color .25s ease-in-out;
  -moz-transition: color .25s ease-in-out;
  -webkit-transition: color .25s ease-in-out;  
}

//=========================================//
// Nav bar

.main .nav-bar {
  //position: relative;
  //float: left;
  //position: absolute;
  
  position: fixed;
  width: 200px;
  margin-left: 10px;
  min-height: 300px;
}

.main .nav-bar ul {
  position: relative;
  display: block;
  margin: 10px 10px 10px 10px;
}

.main .nav-bar ul li {
  text-transform:lowercase;
  margin: 10px 0 10px 0;
}

.main .nav-bar a {
  text-decoration: none;
  text-align: center;
  font-size: 15pt;
  color: rgba(255,255,255,0.9);
  transition: color .25s ease-in-out;
  -ms-transition: color .25s ease-in-out;
  -moz-transition: color .25s ease-in-out;
  -webkit-transition: color .25s ease-in-out;  
}

.main .nav-bar a:hover {
  color: #4080F7;
  transition: color .25s ease-in-out;
  -ms-transition: color .25s ease-in-out;
  -moz-transition: color .25s ease-in-out;
  -webkit-transition: color .25s ease-in-out;  
}


//=========================================//
// Main content formatting //

.main .main-content {
  clear: both;
  padding-top: 200px;
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}

.main .inner-content {
  //position: absolute;
  position: relative;
  display: block;
  padding: 0 0 0 0px;

  margin-left: 10px;

  //float: left;

  width: 70%;
  height: 100%;
  left: 25%;
}

.main .inner-container {
  position: relative;
  //display: block;
  margin: 0 auto;
  //width: 300px;
  width: 90%;
}

.main .inner-container h1 {
  text-align: left;
  font-size: 25pt;
  font-weight: bold;
  //color: rgba(255,255,255,0.9);
  color: rgba(255,255,75,0.9);
  //margin: 0 auto;
  margin: 0 auto 0 auto;  
}

.main .inner-container h2 {
  text-align: left;
  font-size: 18pt;
  //font-weight: bold;
  font-style: italic;
  //color: rgba(255,255,255,0.9);
  //color: rgba(255,255,0,0.9);
  color: rgba(255,255,125,0.9);
  margin: 20px auto 20px auto;  
}

.main .inner-container .strong {
  font-weight: bold;
}

.main .inner-container p {
  text-align: left;
  font-size: 15pt;
  color: rgba(255,255,255,0.9);
  margin: 0 auto;
}

.main .inner-container .content-link a {
  font-weight: bold;
  text-decoration: none;
  color: #7FA6F0;
  transition: color .25s ease-in-out;
  -ms-transition: color .25s ease-in-out;
  -moz-transition: color .25s ease-in-out;
  -webkit-transition: color .25s ease-in-out; 
}

.main .inner-container .content-link a:hover {
  color: #4080F7;
  transition: color .25s ease-in-out;
  -ms-transition: color .25s ease-in-out;
  -moz-transition: color .25s ease-in-out;
  -webkit-transition: color .25s ease-in-out;  
}

.main .inner-container .info-image img {
  display: block;
  //margin: 10px;
  margin: 15px 0 15px 0;
  //margin: 10px auto 10px auto;
  max-height: 500px;
  max-width: 500px;
}

.main .inner-container .info-image-embed img {
  display: inline-block;
  float: left;
  margin: 10px auto 10px auto;
  max-height: 250px;
  max-width: 250px;
  //padding: 20px;
  padding: 0 20px 0 0;
}

.main .inner-container table.info-image-container {
  display: block; 
  margin: 0 auto;
}

.main .inner-container .info-image-container th {
  margin: 0 auto;
  padding: 10px;
  vertical-align: middle;
}

.main .inner-container .info-image-small img {
  display: block;
  margin: 10px auto 10px auto;
  max-height: 250px;
  max-width: 250px;
}

//=========================================//
// Maps //

.main .map {
  position: relative;
  display: block;
  margin: 0 auto;
}

.main .map .map-header {
  font-size: 15pt;
  text-align: center;
  text-decoration: none;
  color: rgba(255,255,255,0.9);
  margin: 2px auto;
}

.main .map iframe {
  position: relative;
  display: block;
  margin: 0 auto;
}

.main .map .map-link {
  font-size: 12pt;
  text-align: center;
  position: relative;
  display: block;
  margin: 0 auto;
}

.main .map .map-link a {
  text-decoration: none;
  color: rgba(255,255,255,0.9);
  transition: color .25s ease-in-out;
  -ms-transition: color .25s ease-in-out;
  -moz-transition: color .25s ease-in-out;
  -webkit-transition: color .25s ease-in-out;  
}

.main .map .map-link a:hover {
  color: #4080F7;
  transition: color .25s ease-in-out;
  -ms-transition: color .25s ease-in-out;
  -moz-transition: color .25s ease-in-out;
  -webkit-transition: color .25s ease-in-out;  
}

//=========================================//
// Responsive changes //

@media screen and (max-width : 900px) {
  /* Styles */
  .main .nav-bar {
    display: none;
    width: 0;
    position: relative;
    visibility: hidden;
  }

  // TESTING
  .main .dropdown-nav {
    display: none;
    visibility: visible;
  }

  .main .main-content {
    padding-top: 100px;  }

  .main .inner-content {
    width: 100%;
    margin: 0 auto;
    margin-left: 0;
    left: 0;
  }

  .main .header .title {
    padding: 5px 0 5px 0;
    font-size: 25pt;

    // TESTING
    font-size: 0px;
    height: 25px;
    background-size: auto 25px;

  }

  .main .header .details {
    padding: 5px 0 5px 0;
    font-size: 10pt;
  }

  .main .header .nav-button {
    //position: fixed;
    //top: 30px;
    //left: 10px;
    position: absolute;
    top: 30px;
    left: 10px;
    display: block;
    //float: left;
    visibility: visible;
    height: 10px;
    width: 10px;
    color: #ffffff;    
  }

  .main .map iframe {
    width: 425px;
    height: 350px;
  }
}

//=========================================//
@media screen and (max-width : 600px) {
  .main .map iframe {
    width: 400px;
    height: 325px;
  }

  .main .inner-container .info-image img {
    max-height: 400px;
    max-width: 400px;
  }

  .main .inner-container .info-image-embed img {
    display: block;
    position: relative;
    float: none;    
  }

  .main .inner-container .info-image-small img {
    max-height: 200px;
    max-width: 200px;
  }

}

//=========================================//
@media screen and (max-width : 450px) {
  .main .header .title {
    padding: 5px 0 5px 0;
    font-size: 20pt;

    // TESTING
    height: 20px;
    font-size: 0px;
    background-size: auto 20px;
  }

  .main .header .details {
    padding: 5px 0 5px 0;
    font-size: 8pt;
  }

  .main .map iframe {
    width: 325px;
    height: 325px;
  }

  .main .inner-container .info-image img {
    max-height: 325px;
    max-width: 325px;
  }

  .main .inner-container .info-image-small img {
    max-height: 162px;
    max-width: 162px;
  }

}

//=========================================//
@media screen and (max-width : 375px) {

  .main .map iframe {
    width: 275px;
    height: 275x;
  }

  .main .inner-container .info-image img {
    max-height: 275px;
    max-width: 275px;
  }

  .main .inner-container .info-image-small img {
    max-height: 137px;
    max-width: 137px;
  }
}
