<h1>Registry</h1>
<br />
<p>Like any wedding, gifts are totally optional and all we really want is for you to come and have an awesome time. If you did want to get us something, though, thank you so much for your generosity, and feel free to check out our registries on Macys and Amazon below:</p>

<h2 class="content-link"><a href="http://www1.macys.com/registry/wedding/guest/?registryId=6061807" target="_blank">Macys</a></h2> 

<h2 class="content-link"><a href="http://www.amazon.com/gp/registry/wedding/11UFH1V7BMNPJ" target="_blank">Amazon</a></h2> 

